body {
	padding-top: 10px;
	background: rgba(62, 122, 92, 0.322);
}

.container-fluid {
	padding-right: 50px;
	padding-left: 50px;
}

[class*="col-"] {
	background-color: rgb(255, 255, 255);
	padding: 5px;
	border: 2px solid black;
	border-radius: 6px;
	line-height: 30px;
	text-align: center;
}

.txt-center {
	text-align: center;
}

#action {
	float: right;
}
#home {
	float: left;
}

#single > * {
	height: 75vh;
}

.indication {
	font-size: 0.5em;
}

td {
	padding: 2px 5px;
}