body {
	padding-top: 10px;
	background: rgba(62, 122, 92, 0.322);
}

.container-fluid {
	padding-right: 50px;
	padding-left: 50px;
}

[class*="col-"] {
	background-color: rgb(255, 255, 255);
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 6px;
	line-height: 30px;
	text-align: center;
}

article p {
	text-align: justify;
}

.pseudo {
	font-weight: bold;
	font-size: 1.2em;
}

.chapters {
	height: 72px;
	overflow: hidden;
}

.txt-center {
	text-align: center;
}

#action {
	float: right;
}

#home {
	float: left;
}

.indication {
	font-size: 0.5em;
}

table {
	background: rgba(224, 250, 255, 0.445);
}

td, th {
	padding: 5px 10px;
	border: 1px outset rgba(0, 0, 139, 0.699);
}

.btn-primary {
	padding-bottom: 2px;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(28, 129, 245);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(2, 68, 153);
}

@media screen and (min-width: 768px) {
	#single>* {
		height: 75vh;
		overflow-y: scroll;
	}
}